<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Item</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'My_app/css/normalize.css' %}" media="screen" title="no title"  charset="utf-8">
    <link rel="stylesheet" href="{% static 'My_app/css/skeleton.css' %}" media="screen" title="no title"  charset="utf-8">
    <link rel="stylesheet" href="{% static 'My_app/css/additional.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <div>
        <h1>Create a New Wish List Item</h1>
        <a href="/"><button>Home</button></a>
        <a href="/logout"><button>logout</button></a>
    </div>
    <div>
        <form action="/create" method="post">
            {% csrf_token %}
            <p>Item/Product: <input type="text" name="item"</p>
            <p><input type="submit" value="Add"></p>
        </form> 
    </div>
    {% if messages %}
    <ul >
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>